  <section id="photo-comments">
   <div class="container">

     <div class="row recent-title">
      <div class="large-12 columns">
        <h2>recent activity</h2>
      </div>
    </div>

    <div class="row comments">
      <div class="small-3 columns">
        <img src="img/plate_pasta.jpg" class="comment-thumb">
      </div>

      <div class="small-9 columns" style="padding: 0">
        <div class="who-said-when">
          <p><strong>Bobby</strong> said today at 6:30pm</p>
        </div>
        <div class="said-what">
          <p>I'm trying a new soup today.</p>
        </div>
      </div>
    </div>

    <div class="row comments light">

      <div class="small-3 columns">
        <img src="img/mamas-food-square.jpg" class="comment-thumb">
      </div>

      <div class="small-9 columns" style="padding: 0">
        <div class="who-said-when">
          <p><strong>Barbara </strong>said today at 12:02pm</p>
        </div>
        <div class="said-what">
            <p>Yes, definitely looking more balanced, but you don't always need to fill your plate.</p>
        </div>
      </div>

    </div><!--comments row-->


    <div class="row comments">
      <div class="small-3 columns">
        <img src="img/mamas-food-square.jpg" class="comment-thumb">
      </div>

      <div class="small-9 columns" style="padding: 0">
        <div class="who-said-when">
          <p><strong>Bobby</strong> said today at 11:02am</p>
        </div>
        <div class="said-what">
          <p>Ok ok...is this better?</p>
        </div>
      </div>
    </div><!--comments row-->


    <div class="row comments light">
      <div class="small-3 columns">
        <img src="img/burger.jpg" class="comment-thumb">
      </div>

      <div class="small-9 columns" style="padding: 0">
        <div class="who-said-when">
          <p><strong>Barbara</strong> said yesterday at 10:00pm</p>
        </div>
        <div class="said-what">
          <p>Bobby...this will not get you any closer to your six-pack.</p>
        </div>
      </div>
    </div><!--comments row-->


  </div><!--container-->
</section><!--photo-large-->