

  <section id="photo-comments">
   <div class="container">

     <div class="row recent-title">
      <div class="large-12 columns">
        <h2>recent activity</h2>
      </div>
    </div>

    <% @comments.each do |f| %>
    	<!-- changing the colour of the comments box depending on who is making the comment -->
    	<% if f.name == current_patient.name %>
    		<div class="row comments">
    	<% else %>
    		<div class="row comments light">
    	<% end %>
    	  <div class="small-3 columns">
    	  	<%= link_to image_tag(f.photo_url, class: "comment-thumb"), photo_path(f.photo_id) %>
    	  </div>

    	  <div class="small-9 columns" style="padding: 0">
    	    <div class="who-said-when">
    	      <p><strong><%= f.name %></strong> said at <%= f.created_at %></p>
    	    </div>
    	    <div class="said-what">
    	      <p><%= f.content %></p>
    	    </div>
    	  </div>
    	</div>
    <% end %>

  </div><!--container-->
</section><!--photo-large-->