/*---------------------GLOBAL------------------*/

html {
	font-size: 62.5%;
	line-height: 1.6;
}

body {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

h1, h2, h3, h4, h5 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
}

section {
	padding-top: 5%;
	padding-bottom: 5%;
	width: 100%;
}

nav {
	background-color: black;
}

.container {
	width: 90%;
	margin-left: 5%;
	margin-right: 5;
}

/*.capture-icons li {
	text-align: center;

}

.capture-icons li img.mid {
	width: 70%;
	padding-top: 0;
}

.capture-icons li img {
	padding-top: 15%;
	width: 40%;
}*/

.nav-icons {
	text-align: center;
}

.nav-icons li img {
	width: 20%;
}

.nav-icons li img.mid {
	width: 100%;
}

#nav_logo img{
	width:100%;
}





/*---------------------HOMEPAGE-----------------*/

#prof-details {
	background: url(../img/prof-bckgrnd2.jpg) center no-repeat;
	background-size: cover;
}

#prof-buttons {
	margin-top: 5%;
	margin-bottom: 5%;
}

.button {
	width: 100%;
	border-radius: 8px;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	letter-spacing: 1px;
}

.upload {
	background-color: #079e00;
}

.comments-button {
	background-color: #50008d;
}

.top-nav {
	padding: 30px 0 10px 0;
	text-align: center;
	overflow: visible;
	border-bottom: 10px solid #348D8B;
}

.top-nav, .top-bar.expanded .title-area {
	background-color: black;
}

.top-nav img {
	width: 50%;
	margin: 0 auto;
}


.prof-pic img {
	width: 100%;
	margin: 0 auto;
	line-height: 0;
	display: inline-block;
	border: solid 1px #999;
	padding: 3%;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
	background-color: white;
}

.prof-pic-details {
	background-color: white;
	padding-top: 20px;
}

.prof-pic, .prof-details, .prof-progress {
	height: 200px;
}



.prof-details p {
	text-transform: uppercase;
	font-size: 1.2rem;
	margin-bottom: 5%;
	background-color: white;
	padding:4%;
}



.prof-progress p {
	text-transform: uppercase;
	font-size: 1.2rem;
	text-align: center;
	background-color: black;
	color: #fff;
	padding-top: 7%; padding-bottom: 7%;
}

.lbs {
	font-size: 1.7rem;
	color: white;
	vertical-align: middle;
}

.prof-progress p.pounds {
	text-transform: uppercase;
	font-size: 4rem;
	text-align: center;
	background-color:  #348d8b;
	color: white;
	min-height: 90px;
	vertical-align: middle;
}

.prof-day-tab {
	background-color: #348d8b;
	text-transform: uppercase;
	text-align: center;
	margin: 2% auto 5% auto;
}

.prof-day-tab h2 {
	margin: 2% auto;
	color: white;
	vertical-align: middle;
	font-size: 2.5rem;
	font-weight: 300;
}

.meal {
	color: #333;
	font-size: 1.5rem;
	text-transform: uppercase;
	text-align: center;
	padding-top: 8%;
}

.starting-weight, .current-weight, .goal-weight {
	color: #079e00;
}


/*---------------------PHOTO PAGE------------------*/

.mealtime p {
	text-transform: uppercase;
	text-align: left;
	font-size: 2rem;
	color: #348d8b;
}

.date p {
	text-transform: uppercase;
	text-align: right;
	font-size: 2rem;
	color: #563d97;
}

.meal-img {
	background-color: white;
	border: 2px solid #666;
	text-align: center;
	position: relative;
	padding: 2%;
}

.meal-img img {
	width: 100%;
}

.meal-img-notes {
	background: #000;
	opacity: 0.8;
	min-height: 50px;
	position: absolute;
	bottom: 0; left: 0;
	width: 100%;
	z-index: 5;
	padding: 2%;
}


.meal-img-notes p {
	color: white;
	text-align: left;
	text-transform: uppercase;
	font-size: 4rem;
	font-weight: 300;
	letter-spacing: 1px;
}

.comment-thumb {
	 width: 100%;
	margin: 0 auto;
	line-height: 0;
	display: inline-block;
	border: solid 1px #999;
	padding: 3%;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
	background-color: white;
}

.comments {
	background: #ccc;
	padding: 2%;
	margin-bottom: 2%;
}

.who-said-when {
	width: 100%;
	padding-left: 3%;
	padding-right: 3%;
	border-bottom: 1px dotted #333;
}

.who-said-when p {
	font-size: 1rem;
	color: #333;
	font-weight: 300;
	text-transform: uppercase;
}

.said-what {
	width: 100%;
	padding: 3%;
}

.said-what p {
	font-size: 1.6rem;
	font-weight: 300;
	color: #333;
}

.light {
	background: #eee;
}

.reply {
	margin-top: 10%;
}


/*--------------------- RECENT ACTIVITY PAGE ------------------*/

.recent-title h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 30px;
	color: #348d8b;
}



/*--------------------- TAKE PHOTO PAGE ------------------*/

.take-photo h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: 2.8rem;
	margin-bottom: 30px;
	color: #348d8b;
}

.camera-space {
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	background-color: #eee;
	text-align: center;
	position: relative;
	padding: 2%;
	text-align: center;
}

.holder {
	background-color: #999;
	height: 350px;
	width: 100%;
}

.capture-button {
	font-size: 4rem;
	background-color:  #348d8b;
}

.svg-icons {
	fill: #fff;
}

.capture-icons li {
	text-align: center;

}

.capture-icons li img.mid {
	width: 70%;
	padding-top: 0;
}

.capture-icons li img {
	padding-top: 15%;
	width: 40%;
}

footer {
	width: 100%;
	min-height: 250px;
	background: #000;
	padding-top: 5%;
}

/*--------------------- PHOTO INFO PAGE ------------------*/

#datepicker {
	width: 100%;
}

#datepicker input {
	font-size: 2rem;
}


label.photo-deets {
	font-size: 2rem;
	text-transform: uppercase;
}

.meal-type {
	font-size: 1.5rem;
	color: #666;
}

.notes-div {
	min-height: 200px;
}

input[type=text] {
	font-size: 1.5rem;
	padding-top: 20px;
	padding-bottom: 20px;
}

textarea#notes {
	font-size: 1.5rem;
}

.log-submit {
	font-size: 4rem;
	background-color:  #348d8b;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 30px;
	text-align: center;
}
